---
layout: default
---

<section>

	{% assign results = site.data %}

	{% assign number_of_repos = results | size %}

	<p>This is a listing of repos that come up when <a href="https://github.com/search?q=postman&type=" target="_blank">searching for "postman" on GitHub</a>. Since you can't view all 6K results, because both the UI and API restrict you to the first 1K, I have created a collection to pull search results from different angles, resulting in almost 5K of the results (will keep trying).</p>
	<p align="center"><strong>{{ number_of_repos }} repos</strong></p>


	{% for result in results %}

		{% assign tag_words = result[0] | split: ' ' %}

		{% capture title %}{% for tag_word in tag_words %}{{ tag_word | capitalize }} {% endfor %}{% endcapture %}

		<h3>{{ title }}</h3>

		{% assign entries = result[1] %}

		<table width="100%" border="1">
			<tr>
				<td><strong>Repository</strong></td>
				<td><strong>Updated</strong></td>
				<td><strong>Forks</strong></td>
				<td><strong>Watchers</strong></td>
			</tr>
			{% for entry in entries %}
				<tr>
					<td><strong>{{ entry.full_name }}</strong> - {{ entry.description }}</td>
					<td>{{ entry.updated_at }}</td>
					<td>{{ entry.forks }}</td>
					<td>{{ entry.watchers }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}

</section>
