<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="https://covid-19-testing.github.io/home/">Homepage</a></li>
    <li><a href="https://covid-19-testing.github.io/california/">California</a></li>
    <li><a href="https://covid-19-testing.github.io/washington/">Washington</a></li>
    <li><a href="https://covid-19-testing.github.io/home/how-it-works/">How It Works</a></li>
    <li><a href="https://covid-19-testing.github.io/home/about/">About</a></li>
  </ul>
</nav>
